flight/src/main/mule/flight.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="d548f614-3ef0-42ac-8f14-9d821ef11f6c" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="636047dc-5396-453c-8378-c6c705531a20" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="53837872-51cc-41c5-9348-24609837354f" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Jaya@57422" database="employeedata" />
	</db:config>
	<flow name="flightFlow" doc:id="5ff907c3-b937-4ecb-81a4-12a01ec0d945" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="546dd6f7-20e9-480f-a77a-78527929971f" config-ref="HTTP_Listener_config1" path="/soapconsume"/>
		<logger level="INFO" doc:name="Logger" doc:id="ba8a49f3-26a9-4691-af62-c3882d25b7e6" message="#['SOAP Consume Started']"/>
		<ee:transform doc:name="Transform Message" doc:id="6abb8168-2ace-4aea-bc1e-31250f3312bf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: payload.num1,
		ns0#intB: payload.num2
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume doc:name="Consume" doc:id="5288d278-bd3c-41e5-8732-7999f2f1047a" config-ref="Web_Service_Consumer_Config" operation="Add"/>
		<logger level="INFO" doc:name="Logger" doc:id="34ed9c01-2839-40bb-8795-4c4a99f6e529" message="'SOAP Consume Completed'"/>
		<ee:transform doc:name="Transform Message" doc:id="c6a94442-e372-4c48-9480-cc15dfcaa5d1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json	
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="flightFlow1" doc:id="42241c49-6236-4caa-bff1-2263045e991b" >
		<http:listener doc:name="Listener" doc:id="82621ad2-2ce2-4e13-8ea4-e65811c021bf" config-ref="HTTP_Listener_config1" path="/batch"/>
		<ee:transform doc:name="Transform Message" doc:id="5af4f192-3056-4c7c-94c8-e7f87b4867f0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
 1 to 100 map 

{
	"EmpId": 1 +$$,
	"EmpName": "Jaya",
	"Age":28,
	"Address": "Hyd"
	
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="flightBatch_Job" doc:id="fc4c68bb-ee01-4686-b19a-25f9728f0485" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="66a5851a-6565-43af-902f-cf41a6802d4a" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="b027138e-70c9-4fe0-a6b4-8d35c729408d" size="10">
						<logger level="INFO" doc:name="Logger" doc:id="4e25eacd-8fe3-4095-a3e2-5eee0111d3c7" />
						<db:bulk-insert doc:name="Bulk insert" doc:id="3babfa18-d2aa-4d0b-b828-bf2a52ce0fa1" config-ref="Database_Config">
							<db:sql ><![CDATA[insert into employeedata.emp (EmpId,EmpName,Age, Address)
values(:EmpId, :EmpName, :Age, :Address)]]></db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<ee:transform doc:name="Transform Message" doc:id="d1fcfe67-04e6-475d-b156-2e16f68e0527" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="15c414ed-ab23-4b35-a54b-b5846d0cf69b" />
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
